#videoSection {
    background: #F9F7FF;
    margin-top: 3rem;
}


.videoDemo {


    display: flex;
    justify-content: center;

    margin-left: 8rem;
    margin-right: 8rem;

}


.videoLeft h2 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #212121;
}

.video-container {
    position: relative;
}

.videoLeft video {
    width: 555px;
    height: 367px;
    background: #000000;
    opacity: 1;
    border-radius: 6px;
}

.videoLeft h3 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 33px;
    color: #6255A5;
}

.videoLeft p {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;

    color: #74757E;
}


.videoRight p {
    margin-top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #74757E;
}

.videoOption {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1em;
    margin-top: 60px;
    padding: 20px;
}


.gridSection {

    left: 735px;
    top: 3124px;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 6px;
}

.gridSection .first {

    border: black;
    background: #85D1A0;
    border-radius: 4px;
}

.gridSection h3 {

    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    color: #000000;
}

.gridSection p {

    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding-right: 10px;
    color: #74757E;
}